@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
  background-color: black;
}

h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 48px;
  color: white;
  margin-bottom: 20px;
}

p {
  font-size: 14px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.introParagraph {
  font-size: 14px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.backButton {
  margin-right: 80%;
  margin-top: 2%;
  font-size: 14px;
}

.menuItems {
  display: flex;
  flex-wrap: wrap;
  flex: center;
  gap: 20px;
  justify-content: center;
}

.menuItem {
  flex: 0 0 90%;
  height: 40px;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  background-color: rgb(53, 53, 53);
  line-height: 40px;
  font-size: 18px;
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
  width: 90%;
}

.aaa {
  color: #05ebe3;
  text-decoration: underline;
}

.churchFathersInfo, .scriptureInfo, .miracleInfo {
  color: white;
  width: 90%;
  margin: auto;
  text-align: left;
}

.miracleInfo {
  margin-bottom: 40px;
}

.navbar {
  display: flex;
  background-color: rgb(53, 53, 53);
  padding: 12px;
}

.navbarOptions {
  position: absolute;
  z-index: 9999;
  text-align: left;
  padding: 12px;
  background-color: rgb(53, 53, 53);
  width: 100%;
  border-bottom-right-radius: 3px;
}

.navbarOption {
  margin-bottom: 16px;
}

.hamburgerBar {
  height: 2px;
  width: 24px;
  background-color: white;
  margin: 4px;
  border-radius: 3px;
}